/*
* The Code component is causing some issues.
* The main issue that `pre` element has a margin that seperate the frame with the code block, idk why that is.
* Disabling the `astro-expressive-code` plugin will work, but global configuration cannot be used.
* Applying these styles should fix them. */

/* Code frames contain extra space between tabs and the code content*/
div.expressive-code > figure.frame > figcaption.header {
  margin-bottom: -16px;
}
/* Disable margin for the index page within the Hero section */
div.hero div.expressive-code > figure.frame > figcaption.header {
  margin-bottom: 0;
}

/* the button is still not positioned correctly.*/
div.expressive-code > figure.frame.is-terminal > pre ~ div.copy > button,
div.expressive-code > figure.frame.is-terminal > pre ~ div.copy > div.feedback {
  margin-top: -16px;
}

div.expressive-code > figure.frame > pre ~ div.copy > button,
div.expressive-code > figure.frame > pre ~ div.copy > div.feedback {
  margin-top: -18px;
}

/* The button UI hides the content and isn't clean */
@media (min-width: 50px) and (max-width: 399px) {
  div.expressive-code > figure.frame > pre ~ div.copy > button {
    pointer-events: none;
    display: none;
  }
}

/* cant customize it in expressive-code configuration */
div.expressive-code
  > figure.frame
  > pre
  > code
  > div.ec-line
  > div.code
  > span {
  --1fs: normal !important;
  --0fs: normal !important;
}
