/* Dark mode colors. */
:root {
  --sl-font: "Inter", serif;

  --sl-color-accent-low: #002b23;
  --sl-color-accent: #007c68;
  --sl-color-accent-high: #85dcc7;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e7eff5;
  --sl-color-gray-2: #bac3cb;
  --sl-color-gray-3: #7d8e9d;
  --sl-color-gray-4: #4b5a68;
  --sl-color-gray-5: #2b3a47;
  --sl-color-gray-6: #1a2835;
  --sl-color-black: #13191f;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #a7e6d5;
  --sl-color-accent: #007e6a;
  --sl-color-accent-high: #003c31;
  --sl-color-white: #13191f;
  --sl-color-gray-1: #1a2835;
  --sl-color-gray-2: #2b3a47;
  --sl-color-gray-3: #4b5a68;
  --sl-color-gray-4: #7d8e9d;
  --sl-color-gray-5: #bac3cb;
  --sl-color-gray-6: #e7eff5;
  --sl-color-gray-7: #f3f7fa;
  --sl-color-black: #ffffff;
}
