/* Dark mode colors. */
:root {
  --sl-color-accent-low: #002b27;
  --sl-color-accent: #007a72;
  --sl-color-accent-high: #80dcd1;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e6eff5;
  --sl-color-gray-2: #b9c4ca;
  --sl-color-gray-3: #7b8f9b;
  --sl-color-gray-4: #485b67;
  --sl-color-gray-5: #293b46;
  --sl-color-gray-6: #182933;
  --sl-color-black: #12191e;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #a4e6de;
  --sl-color-accent: #007d74;
  --sl-color-accent-high: #003b37;
  --sl-color-white: #12191e;
  --sl-color-gray-1: #182933;
  --sl-color-gray-2: #293b46;
  --sl-color-gray-3: #485b67;
  --sl-color-gray-4: #7b8f9b;
  --sl-color-gray-5: #b9c4ca;
  --sl-color-gray-6: #e6eff5;
  --sl-color-gray-7: #f3f7fa;
  --sl-color-black: #ffffff;
}
